.App {
  text-align: center; 
}

/* Text containers for each page */
.text-area{
  margin-top: 10%;
  border:1px solid black;
  display: inline-block;  
}

/* nav */
.navbar {
  background-color: black;
  color: white;
}



@media screen and (max-width: 824px) {

  .text-area{
    margin-top: 20%;   
  }

}