.App {
  text-align: center; 
}

/* Text containers for each page */
.text-area{
  margin-top: 10%;
  border:1px solid black;
  display: inline-block;  
}

/* nav */
.navbar {
  background-color: black;
  color: white;
}

.navbar-brand small {
  display:block;
  font-size:14px;
}


@media screen and (max-width: 824px) {

  .text-area{
    margin-top: 20%;   
  }

}